#body1 {
  background-color: black;
  color: cyan;
}
#level1 {
  background-color: black;
  color: cyan;
}
#level2 {
  background-color: black;
  color: cyan;
}
#title {
  font-size: 30pt;
}
#home {
  float: right;
  color: #ff00a1;
}
#me {
  height: 120pt;
  width: 120pt;
  border-radius: 120pt;
}
#whatsapp {
  color: #ff00a1;
}
#facebook {
  color: #ff00a1;
  font-size: 30pt;
}
#instagram {
  color: #ff00a1;
  font-size: 30pt;
  padding-left: 20pt;
}
#gmail {
  font-size: 16pt;
}
#solo {
  color: #ff00a1;
  font-size: 15pt;
}
#port {
  color: #ff00a1;
  font-size: 20pt;
}
#param {
  font-size: 20pt;
}
.copyright {
  color: cyan;
  text-align: right;
  font-size: 13pt;
  font-family: cursive,"Handlee";
}