#body {
  background-color: white;
  color: black;
}
#myservice {
  color: black;
}
#title {
  color: black;
  font-weight: bold;
  width: 15em;
  font-size: 100pt;
  text-align: center;
  font-family: cursive;
  }
#name {
  font-size: 35pt;
  text-shadow: 1pt 2pt 2pt;
  color: black;
}
#tab {
  height: 57pt;
}
#head {
  box-shadow: 0pt 0pt 0pt 2pt;
}
#body1 {
  background-color: white;
  color: black;
}
#level {
  height: 270pt;
  overflow: scroll;
  background-color: white;
  color: black;
}
#book {
  padding-top: -200pt;
  font-size: 15pt;
  text-align: center;
  width: 50pt;
  background-color: white;
  color: black;
  }
#port {
  padding-top: -200pt;
  font-size: 15pt;
  text-align: center;
  width: 50pt;
  color: black;
  background-color: white;
}
#contacts {
  padding-top: -200pt;
  font-size: 15pt;
  text-align: center;
  width: 50pt;
  color: black;
  background-color: white;
}
#settings {
  padding-top: -200pt;
  font-size: 15pt;
  text-align: center;
  width: 50pt;
  color: black;
  background-color: white;
}
