#home {
  float: right;
  padding-right: 40pt;
   color: #ff00a1;
}
#body1 {
  background-color: black;
  color: cyan;
}
#level {
  background-color: black;
}
#ex1 {
  height: 300pt;
  width: 180pt;
  border-radius: 20pt;
}
#ex2 {
  height: 170pt;
  width: 220pt;
  background-color: red;
  border-radius: 10pt;
}
#contacts {
  color: #ff00a1;
}
#pex1 {
  color: #ff00a1;
}
.copyright {
  color: cyan;
  text-align: right;
  font-size: 13pt;
  font-family: cursive,"Handlee";
}